* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    325deg,
    #03001e 0%,
    #7303c0 30%,
    #ec38bc 70%,
    #fdeff9 100%
  );
  overflow: hidden;
}
.game-container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(
    135deg,
    #03001e 0%,
    #7303c0 0%,
    #ec38bc 50%,
    #fdeff9 100%
  );
  padding: 30px 60px;
}
h1 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.reset {
  padding: 15px 20px;
  background: #282a3a;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.reset:focus {
  color: #282a3a;
  background-color: #fff;
}

.game {
  width: 390px;
  height: 390px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
  justify-content: center;
}
.item {
  position: relative;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: #fff;
  transition: 0.25s;
  transform: rotateY(180deg);
}
.item.boxOpen {
  transform: rotateY(0deg);
}
.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #282a3a;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.game-container::after {
  content: "Winner Winner!!";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03001e;
  background-color: #7303c0;
  inset: 0;
  transform: rotateY(180deg);
  transition: 1s;
  backface-visibility: hidden;
  color: #fff;
  font-weight: 800;
  font-size: 30px;
}

.game-container.flipped::after {
  transform: rotateY(0deg) rotateZ(360deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
